<a href="https://colab.research.google.com/github/ajit211998/Ajit-Kumar/blob/main/15_May_AssQ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. How do you comment code in Python? What are the different types of comments?

In [ ]:
"""In Python we comments code in
1. inverted comma
2. Douible inverted comma
3. Using Through ###
"""

'In Python we comments code in \n1. inverted comma\n2. Douible inverted comma\n3. Using Through ###\n'

Q2. What are variables in Python? How do you declare and assign values to variables?

In [ ]:
### String type of data is called Variables. and we assign and decelare
### a value through assignment operator "="
### x = 1

Q3. How do you convert one data type to another in Python?

In [ ]:
""" we convert one data type to another data type by using #type# function"""

' we convert one data type to another data type by using #type# function'

In [ ]:
x= 2.44
type(x)

float

In [ ]:
int(x)

2

In [ ]:
str(x)

'2.44'

Q4. How do you write and execute a Python script from the command line?

In [ ]:
""" we open a commend line and type word in version python3 and followed by the path to our dcript"""

' we open a commend line and type word in version python3 and followed by the path to our dcript'

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [ ]:
x = [1,2,3,4,5]

In [ ]:
x[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [1]:
"complex no represented by (x+yj) where a and y are real no and j is imaginary no"

'complex no represented by (x+yj) where a and y are real no and j is imaginary no'

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [2]:
age = 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [3]:
x = 9.99
#and data type is float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [6]:
name ="Ajit Kumar"

In [7]:
name

'Ajit Kumar'

Q10. Given the string "Hello, World!", extract the substring "World".

In [1]:
x = "Hello World!"

In [2]:
x[-6]

'W'

In [5]:
x[-6:-1]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [8]:
is_student = True
print(is_student)

True