<a href="https://colab.research.google.com/github/ajit211998/Ajit-Kumar/blob/main/PW_Week_3_Feb_AssQ.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Q1. Create a python program to sort the given list of tuples based on integer value using a
lambda function.

In [12]:
subject_marks =[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
subject_marks.sort(key = lambda x: x[1])
print(subject_marks)

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using
lambda and map functions.
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x : x**2,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions
Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [46]:
nums_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result_list = list(map(str,nums_list))
print(result_tuple)

TypeError: ignored

In [39]:
l = [1,2,3]
def sq(x):
  return x**2

In [40]:
list(map(sq, l))

[1, 4, 9]

Q4. Write a python program using reduce function to compute the product of a list containing numbers
from 1 to 25.

In [64]:
a = [1,2,3,4]

In [65]:
reduce(lambda x,y: x*y,a)

24

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the
filter function.

In [66]:
l3 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [69]:
list(filter(lambda x:x%2==0,l3))

[2, 6, 60, 90, 120, 46]

In [70]:
list(filter(lambda x:x%3==0,l3))

[3, 6, 9, 27, 60, 90, 120]

In [72]:
list(filter(lambda x:x%2==0 and x%3==0,l3))

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter
function.

In [73]:
l4 = ['python', 'php', 'aba', 'radar', 'level']
result = list(filter(lambda x: (x == "".join(reversed(x))), l4))
print(result)

['php', 'aba', 'radar', 'level']